//main
.main-section {
	height: 100vh;
	background-image: url(../../../img/01.jpg);
	&__box {
		position: absolute;
		top: 26%;
		left: 50%;
		transform: translateX(-50%);
		width: 780px;
		text-align: center;
		color: $color1;
		font-weight: 900;
	}
	&__btn {
		display: inline-block;
		&--sub {
			position: relative;
			font-size: 16px;
			line-height: 44px;
			font-weight: 400;
			width: 180px;
			height: 44px;
			transition: all 0.3s;
			cursor: pointer;	
			background-color: transparent;
			color: $color1;
			box-shadow: none;
			span {
				position: relative;
				display: block;
				height: 100%;
				width: 100%;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					height: 2px;
					width: 100%;
					transition: all 0.1s 0.1s ease;
					background-color: $color1;
				}
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					height: 2px;
					width: 100%;
					background-color: $color1;
				}
			}
			&:before {
				content: '';
				position: absolute;
				height: 100%;
				width: 2px;
				right: 0;
				top: 0;
				transition: all 0.1s ease;
				background-color: $color1;
			}
			&:after {
				content: '';
				position: absolute;
				height: 100%;
				width: 2px;
				left: 0;
				bottom: 0;
				transition: all 0.1s 0.2s ease;
				
				background-color: $color1;
			}
			&:hover:after {
				height: 0%;
				transition: all 0.1s easy;
				
			}
			&:hover:before {
				height: 0%;
				transition: all 0.1s 0.2s easy;
				
			}
			&:hover span:before {
				transition: all 0.1s 0.1s easy;
				width: 0%;
			}
		}
		&:first-child {
			margin-right: 20px;
		}
	}

}
.main-section-dicr {
	max-width: 460px;
	margin: 0 auto 70px;
	display: flex;
	justify-content: space-between;
	font-size: 24px;
}
.logo {
	height: 50px;
	position: relative;
	margin-top: 30px;
	font-size: 45px;
	color: #fff;
	&__img {
		width: 82px;
		height: auto;
	}
}
h1 {
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 900;
	line-height: 1.25;
}
.h1__item {
	display: block;
	font-family: $s-font;
	font-weight: 400;
}
//why
.why {
	padding: 110px 0 75px;
	text-align: center;
	&__ul {
		margin-top: 40px;
		text-align: left;
	}
	&__li {
		margin-bottom: 25px;
		position: relative;
		font-size: 18px;
		font-weight: 900;
		&:before {
			content: url(../../../icons/li.svg);
			position: absolute;
			top: 0;
			left: -40px;
			width: 20px;
			height: 20px;
		}
	}
}
//yacht
.yacht {
	min-height: 522px;
}

//about
.about-h2 {
	margin: 140px 0 80px;
	text-align: center;
}
.about__date {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 900;
	color: $color1;
}
.fullwidth-img {
	margin: 50px 0 95px;
	height: 320px;
	background-image: url(../../../img/04.jpg);
}
.about-1 {
	min-height: 400px;
}
.about-3 {
	margin-bottom: 95px;
	min-height: 601px;
}
.about-4 {
	margin-bottom: 120px;
	min-height: 488px;
}
.about-5 {
	margin-bottom: 110px;
	min-height: 400px;
}
.about-6 {
	margin-bottom: 105px;
	min-height: 500px;
}
.about-7 {
	margin-bottom: 100px;
	min-height: 366px;
}
.about-8 {
	margin-bottom: 130px;
	min-height: 381px;
}

//contacts
.contact-sec {
	margin-bottom: 110px;
	&__h2 {
		margin-bottom: 60px;
	}
	&__subtitle {
		font-family: $s-font;
		font-weight: 400;
	}
}
.form {
	&__input {
		margin-bottom: 10px;
		width: 100%;
		height: 44px;
		padding-left: 10px;
		font-size: 16px;
		font-weight: 400;
		color: $color1;
		border: 2px solid currentColor;
		outline: none;
	}
	&__btn {
		width: 100%;
		padding: 9px 0;
		-webkit-appearance: none; 
	    -webkit-border-radius:0; 
	    border-radius: 0; 
	}
}
::-webkit-input-placeholder {
	color: $color1;
	opacity: 0.5;
}
::-moz-placeholder {
	color: $color1;
	opacity: 0.5;
}
:-moz-placeholder {
	color: $color1;
	opacity: 0.5;
}
:-ms-input-placeholder {
	color: $color1;
	opacity: 0.5;
}
.contacts {
	font-size: 16px;
	color: $color2;
	line-height: 1.25;
	&__mail {
		color: $color1;
	}
	&__phone {
		color: $color2;
	}
}

//footer
footer {
	margin: 110px 0 175px;
	font-size: 16px;
	color: $color2;
}
.is {
	color: $color1;
}